@reference "tailwindcss";

.premium {
    @apply block w-full h-auto relative z-0 bg-white sm:hidden;
}
.premium__header_inner {
    @apply flex justify-start px-[8rem] gap-[17rem] pt-[102rem];
}
.premium__title_image {
    @apply inline-flex self-end w-[110rem] h-[105rem] relative z-1 mb-[-6rem];
}
.premium__title_content{
    @apply flex flex-col gap-[11rem] ml-[-8rem]; 
}
.premium__title_text {
    @apply text-black text-[30rem] leading-[100%];
}
.premium__title_description {
    @apply text-black text-[12rem] leading-[125%];
}
.premium__content {
    @apply px-[25rem] flex flex-col;
}
.premium__inner_image {
    @apply w-[380rem] h-[500rem] mt-[19rem] relative z-1;
}

.hero__btn {
    @apply w-[382rem] h-[68rem] text-white text-[20rem] leading-[100%] flex justify-end items-center gap-[37rem] rounded-full pr-[8rem] mt-[20rem];
    background: linear-gradient(90deg,rgba(78, 78, 100, 1) 0%, rgba(177, 119, 98, 1) 80%);
    .span__text {
        @apply text-end;
    }
}