@reference "tailwindcss";

.section {
    @apply w-full h-auto relative z-0;
}
.wrapper {
    @apply w-full h-full flex justify-end;
}
.inner {
    @apply w-[1340rem] h-full pt-[198rem] flex gap-[74rem];
}
.rightside__line {
@apply w-[340rem] h-auto bg-[#fff];
}
.inner__header {
    @apply flex flex-col;
}
.inner__image {
    @apply inline-block w-[650rem] h-[592rem] relative z-0;
}
.head__content{
    @apply flex flex-col; 
}
.title__text {
    @apply text-white text-[60rem] leading-[100%] mt-[-6rem];
}
.description__text {
    @apply text-white text-[26rem] leading-[118%] mt-[15rem];
}
.content {
    @apply flex flex-col mt-[103rem] ml-[4rem];
}
.rightside__image {
    @apply w-[322rem] h-[288rem] relative top-0 left-[14rem] -translate-0 z-1 mt-[180rem] mx-auto;
}
// <===== items =====>
.inner__list_item {
    @apply flex gap-[78rem] w-full border-b-[2rem] border-[#5A4C45] py-[25rem];
}
.item__text {
    @apply text-[26rem] text-white leading-[117%];
}
.offer__btn {
    @apply w-full h-[80rem] text-white text-[26rem] leading-[100%] flex justify-end items-center gap-[20rem] rounded-full pr-[8rem] bg-[#667761] mt-[43rem];
    .span__text {
        @apply text-end;
    }

}