@reference "tailwindcss";
.hero {
    @apply w-full h-[802rem] relative z-0;
    @media screen and (width >= 640px) {
        @apply h-[1050rem];
    }
}
.header {
    @apply w-full h-auto absolute top-0 left-0 z-3;
}
.inner {
    @apply w-full flex justify-between p-[24rem];
    @media screen and (width >= 640px) {
        @apply w-[1444rem] mx-auto p-0 pt-[50rem];
    }
}
.logo {
    @apply w-[117rem] h-[44rem] bg-no-repeat bg-cover bg-center object-cover;
    @media screen and (width >= 640px) {
        @apply w-[120rem];
    }
}
.title {
    @apply text-white text-[66rem] uppercase font-normal w-fit leading-[90%] absolute top-[112rem] left-[18rem] z-2 flex flex-col;
    letter-spacing: -3rem;
    @media screen and (width >= 640px) {
        @apply text-[160rem] absolute top-[168rem] left-[100rem] z-1 tracking-tighter;
        // letter-spacing: -5rem;
    }
}
.hero__text_decor {
    @apply text-[19rem] text-white/60 leading-[120%] absolute top-[120rem] right-[22rem] -translate-0 z-3;
    letter-spacing: -0.5rem;
    @media screen and (width >= 640px) {
        @apply text-[60rem] top-[602rem] right-[968rem];
        letter-spacing: normal;
    }
}
.text__building_high {
    @apply text-[10rem] text-white font-normal leading-[120%] absolute top-[336rem] left-[56rem] translate-0 z-3;
    @media screen and (width >= 640px) {
        @apply text-[18rem] top-[180rem] left-[1496rem];
    }
}
.text__building_low {
    @apply text-[10rem] text-white font-normal leading-[120%] absolute top-[500rem] left-[16rem] translate-0 z-3;
    @media screen and (width >= 640px) {
        @apply text-[18rem] top-[600rem] left-[1662rem] text-justify;
    }
}
.text__building_middle {
    @apply text-[10rem] text-white font-normal leading-[120%] absolute top-[400rem] right-[24rem] translate-0 z-3 text-center;
    @media screen and (width >= 640px) {
        @apply text-[18rem] top-[400rem] right-[350rem] text-left;
    }
}
.hero__btn {
    @apply w-[362rem] h-[68rem] text-white text-[18rem] leading-[127%] flex justify-end items-center gap-[14rem] absolute top-[672rem] left-1/2 -translate-1/2 z-3 rounded-full pr-[8rem];
    background: linear-gradient(90deg,rgba(78, 78, 100, 0.9) 0%, rgba(177, 119, 98, 0.9) 80%);
    // filter: blur(3px);
    .span__text {
        @apply text-end;
    }
    @media screen and (width >= 640px) {
        @apply w-[462rem] h-[86rem] text-[26rem] top-[838rem] gap-[24rem] pr-[10rem];
    }
}