@reference "tailwindcss";

.premium {
    @apply block w-full h-auto relative z-0 bg-white sm:hidden;
}
.premium__header_inner {
    @apply flex justify-start px-[8rem] gap-[26rem] pt-[72rem];
}
.premium__title_image {
    @apply inline-block w-[98rem] h-[100rem] relative z-1;
}
.premium__title_content{
    @apply flex flex-col gap-[11rem] ml-[-8rem]; 
}
.premium__title_text {
    @apply text-black text-[30rem] leading-[100%];
}
.premium__title_description {
    @apply text-black text-[12rem] leading-[125%];
}
.premium__content {
    @apply px-[25rem] flex flex-col;
}
.premium__inner_image {
    @apply w-[380rem] h-[200rem] mt-[6rem] relative z-1;
}
.inner__list_item {
    @apply flex gap-[88rem] w-full h-[48rem] border-b-[1rem] border-[#000] mt-[12rem];
}
.item__icon {}
.item__text {
    @apply text-[12rem] text-black leading-[105%] mt-[11rem];
    span {
        @apply font-semibold;
    }
}
.hero__btn {
    @apply w-[380rem] h-[68rem] text-white text-[20rem] leading-[100%] flex justify-end items-center gap-[50rem] rounded-full pr-[8rem] mt-[20rem];
    background: linear-gradient(90deg,rgba(78, 78, 100, 1) 0%, rgba(177, 119, 98, 1) 80%);
    .span__text {
        @apply text-end;
    }
}