@import "tailwindcss";

html {
  @apply w-full h-full relative;
  scroll-behavior: smooth;
  
  font-size: calc(100vw / (430 * 1));

  @media screen and (width >= 641px) {
    font-size: calc(100vw / (1920 * 1));
  }
}

body {
  @apply w-full h-full relative mx-auto;
  font-family: "Inter", sans-serif;
  /* overflow-x: hidden !important;  */

  /* @media screen and (width >= 1920px) {
      @supports (-webkit-hyphens:none) {
    width: 45%; */
/* }  */
  /* } */
}
