@reference "tailwindcss";

.premium {
    @apply block w-full h-auto relative z-0 bg-[#463C37] sm:hidden;
}
.premium__header_inner {
    @apply flex justify-start items-end px-[8rem] gap-[0rem] pt-[120rem];
}
.premium__title_image {
    @apply inline-block w-[122rem] h-[123rem] mb-[4rem];
}
.premium__title_content{
    @apply flex flex-col gap-[8rem] ml-[-8rem]; 
}
.premium__title_text {
    @apply text-white text-[30rem] leading-[100%];
}
.premium__title_description {
    @apply text-white text-[12rem] leading-[125%] mb-[-5rem] ml-[3rem];
}
.premium__content {
    @apply px-[25rem] flex flex-col;
}
.premium__inner_image {
    @apply w-[380rem] h-[408rem] mt-[18rem] relative z-1;
}
// <===== items =====>
.inner__list {
    @apply mt-[20rem];
}
.inner__list_item {
    @apply flex gap-[115rem] items-end w-full border-b-[1rem] border-[#5A4C45] pt-[19rem] pb-[8rem] overflow-y-hidden;
}
.inner__list_item__b {
    @apply flex gap-[46rem] items-end w-full border-b-[1rem] border-[#5A4C45] pt-[19rem] pb-[8rem] pl-[78rem] overflow-y-hidden;
}
.item__number {
    @apply text-white text-[70rem] leading-[35%];
}
.item__text {
    @apply text-[12rem] text-white leading-[100%];
}