@reference "tailwindcss";

.premium {
    @apply block w-full h-auto relative z-0 bg-white sm:hidden;
}
.premium__inner_image {
    @apply w-full h-[400rem] mt-[19rem] relative z-1;
}

.hero__btn {
    @apply w-[382rem] h-[68rem] text-white text-[20rem] leading-[100%] absolute top-[34rem] left-1/2 -translate-1/2 z-1 flex justify-end items-center gap-[23rem] rounded-full pr-[6rem];
    background: linear-gradient(90deg,rgba(78, 78, 100, 1) 0%, rgba(177, 119, 98, 1) 80%);
    .span__text {
        @apply text-end;
    }
}