@reference "tailwindcss";

.premium {
    @apply block w-full h-auto relative z-0 bg-[#463C37] sm:hidden;
}
.premium__header_inner {
    @apply flex justify-start px-[8rem] gap-[0rem] pt-[58rem];
}
.premium__title_image {
    @apply inline-block w-[124rem] h-[106rem];
}
.premium__title_content{
    @apply flex flex-col gap-[11rem] ml-[-8rem]; 
}
.premium__title_text {
    @apply text-white text-[30rem] leading-[100%];
}
.premium__title_description {
    @apply text-white text-[12rem] leading-[125%];
}
.premium__content {
    @apply px-[25rem] flex flex-col;
}
.premium__inner_image {
    @apply w-[380rem] h-[500rem] mt-[14rem] relative z-1;

    .box__dekor {
        @apply inline-flex justify-center items-center gap-[10rem] absolute bottom-0 left-0 z-2 text-[12rem] text-white w-[200rem] h-[35rem];
        background: linear-gradient(90deg,rgba(78, 78, 100, 1) 0%, rgba(177, 119, 98, 1) 80%);
    }
}