@reference "tailwindcss";
.embla {
    max-width: 100%;
    margin: auto;
    // --slide-height: 19rem;
    --slide-spacing: 10rem;
    --slide-size: 100%;
    position: relative;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700rem;
    width: 100%;
    position: relative;
  }
